// app/styles/_responsive.scss
@use "sass:map";
@use "./variables" as v;

// Mixin untuk breakpoint ke bawah, misalnya: respond-down("tablet")
@mixin respond-down($bp-name) {
  $bp-value: map.get(v.$breakpoints, $bp-name);

  @if $bp-value ==null {
    @warn "Breakpoint `#{$bp-name}` tidak ditemukan di $breakpoints.";
  }

  @else {
    @media (max-width: $bp-value) {
      @content;
    }
  }
}

// Opsional: kalau nanti mau pakai breakpoint ke atas
@mixin respond-up($bp-name) {
  $bp-value: map.get(v.$breakpoints, $bp-name);

  @if $bp-value ==null {
    @warn "Breakpoint `#{$bp-name}` tidak ditemukan di $breakpoints.";
  }

  @else {
    @media (min-width: $bp-value) {
      @content;
    }
  }
}